<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle}">Access Control</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/resources/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/resources/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/resources/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/resources/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/resources/vendors/mdi/css/materialdesignicons.min.css}">
    <!-- endinject -->
    <!-- plugin css for logs page -->
    <link rel="stylesheet" th:href="@{/resources/vendors/select2/select2.min.css}">
    <link rel="stylesheet" th:href="@{/resources/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}">
    <!-- End plugin css for logs page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/resources/images/favicon.png}"/>
</head>
</html>