<!DOCTYPE html>
<html>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logs">
                <i class="mdi mdi-calendar-clock menu-icon"></i>
                <span class="menu-title">Logs</span>
            </a>
        </li>
    </ul>
</nav>
</html>